body {
  background-color: #edf2f6;
}

.CodeMirror.cm-s-default {
  height: 100px;
}

.appearance-none {
  -webkit-appearance: none;
}

.router-link-exact-active {
  @apply text-blue-100
}

button {
  @apply bg-blue-500;
  @apply text-white;
  @apply font-bold;
  @apply py-2;
  @apply px-4;
  @apply rounded;
}

button:hover {
  @apply bg-blue-700;
}

button:focus {
  @apply outline-none;
  @apply shadow-outline;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: none;
}
input[type="select"],
input[type="date"],
input[type="text"] {
  @apply w-64
}